@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2c2c2c; /* Background of the scrollbar track */
    border-radius: 10px; /* Round corners for the track */
}

::-webkit-scrollbar-thumb {
    background: #555; /* Color of the scrollbar handle */
    border-radius: 10px; /* Round corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #777; /* Color of the scrollbar handle on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #555 #2c2c2c; /* Thumb color and track color */

}
html {
    scroll-behavior: smooth;
  }

